In [1]:
import psycopg2
import pandas as pd

In [2]:
connection = psycopg2.connect('dbname = smat user = postgres password = 60737542_Joshua host = localhost')

#### created a connection with postgresql

In [3]:
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://{user}:{pw}@localhost/{db}'.format
                      (user = 'postgres', pw = '60737542_Joshua', db = 'smat'))

#### looped through all the sheets contained in the data source and created each of them as tables in the postgres database

In [7]:
table_name = ['Budget', 'Product', 'Raw Materials', 'Bill of Materials']
sheet_name = ['Budget', 'Product', 'Raw Materials', 'Bill of Materials']

In [11]:
for i in range(4):
    sheet_data = pd.read_excel('BOM 1.xlsx', sheet_name = sheet_name[i])
    sheet_data.to_sql(table_name[i], con = engine, if_exists = 'append', index = False)

In [4]:
df = pd.read_sql_table('Budget', con = engine)

In [5]:
df.head()

     Product  Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  Product 1  2022   10   15   30   12   14   50   24   14   32   21   22   18
1  Product 2  2022   22   22   22   25   25   30   30   42   42   42   42   50
2  Product 3  2022   10   10   10   10   12   15   15   22   22   22   22   22
3  Product 4  2022   15   15   15   20   20   20   20   20   20   20   25   45
4  Product 5  2022   20   20   20   20   30   30   30   30   30   30   30   55

#### Queries
* unpivoted the Product table as table_1 <br>
* Made an inner join between the product, unpivoted budget table, Bill of Materials, and Raw materials tables as table_2 <br>
* used this new table to get the quantity of raw materials that would be needed for the quantity in the budget as table_3 <br>
* used the previous table to get the cost of raw materials needed based on the budget quantity as table_4 <br>
* Added a profit of 30% to the cost of the raw materials as table_5 <br>
* derived a new selling price based on the profit added

In [11]:
query = '''

with table_1 as(
SELECT "Product", "Year", month_quantity.*
FROM "Budget" b
  cross join lateral (
     values 
       ('Jan', b."Jan"),('Feb', b."Feb"), ('Mar', b."Mar"),
       ('Apr', b."Apr"),('May', b."May"), ('Jun', b."Jun"),
       ('Jul', b."Jul"), ('Aug', b."Aug"), ('Sep', b."Sep"),
       ('Oct', b."Oct"), ('Nov', b."Nov"), ('Dec', b."Dec")
  ) as month_quantity(month, quantity)
  ORDER BY "Product"),
  
table_2 as(
SELECT *
FROM table_1
JOIN "Product" p
ON table_1."Product" = p."Product ID"
JOIN "Bill of Materials" b2
ON b2."Product ID" = p."Product ID"
JOIN "Raw Materials" r
ON b2."Material ID" = r."Material ID"
),

table_3 as(
SELECT *, ("Quantity to make 1 unit of Product" * "quantity") as Quantity_raw 
FROM table_2
),

table_4 as(SELECT *, (quantity_raw * "Cost per unit") as cost_of_raw
FROM table_3),

table_5 as(SELECT *, "cost_of_raw"*1.3 as total_amount_realised
FROM table_4)

SELECT *, total_amount_realised/"quantity" as selling_price_for_1_unit
FROM table_5

'''

In [12]:
df2 = pd.read_sql_query(query, con = engine)

In [13]:
df2.head(10)

,Product,Year,month,quantity,Product ID,Product Name,Unit of Sales in kg,Product ID,Material ID,Material Name,Quantity to make 1 unit of Product,Material ID,Material Name,Unit of Measure,Cost per unit,quantity_raw,cost_of_raw,total_amount_realised,selling_price_for_1_unit
0,Product 1,2022,Jan,10,Product 1,Tomato Salad,0.4,Product 1,Mat 1,Tomato,2.0000,Mat 1,Tomato,pieces,50,20.0000,1000.000,1300.0000,130.0000
1,Product 1,2022,Jan,10,Product 1,Tomato Salad,0.4,Product 1,Mat 2,Lettuce,0.5000,Mat 2,Lettuce,pack,400,5.0000,2000.000,2600.0000,260.0000
2,Product 1,2022,Jan,10,Product 1,Tomato Salad,0.4,Product 1,Mat 3,Carrot,0.2500,Mat 3,Carrot,pieces,50,2.5000,125.000,162.5000,16.2500
3,Product 1,2022,Jan,10,Product 1,Tomato Salad,0.4,Product 1,Mat 4,Sweet Corn,0.0025,Mat 4,Sweet Corn,kg,50,0.0250,1.250,1.6250,0.1625
4,Product 1,2022,Jan,10,Product 1,Tomato Salad,0.4,Product 1,Mat 5,Cucumber,0.0025,Mat 5,Cucumber,kg,200,0.0250,5.000,6.5000,0.6500
5,Product 1,2022,Feb,15,Product 1,Tomato Salad,0.4,Product 1,Mat 1,Tomato,2.0000,Mat 1,Tomato,pieces,50,30.0000,1500.000,1950.0000,130.0000
6,Product 1,2022,Feb,15,Product 1,Tomato Salad,0.4,Product 1,Mat 2,Lettuce,0.5000,Mat 2,Lettuce,pack,400,7.5000,3000.000,3900.0000,260.0000
7,Product 1,2022,Feb,15,Product 1,Tomato Salad,0.4,Product 1,Mat 3,Carrot,0.2500,Mat 3,Carrot,pieces,50,3.7500,187.500,243.7500,16.2500
8,Product 1,2022,Feb,15,Product 1,Tomato Salad,0.4,Product 1,Mat 4,Sweet Corn,0.0025,Mat 4,Sweet Corn,kg,50,0.0375,1.875,2.4375,0.1625
9,Product 1,2022,Feb,15,Product 1,Tomato Salad,0.4,Product 1,Mat 5,Cucumber,0.0025,Mat 5,Cucumber,kg,200,0.0375,7.500,9.7500,0.6500

#### Grouped the derived table by product and month, so as to get the total sum of quantity and cost of raw materials needed for each product in each month

In [14]:
grouped_product = df2.groupby(['Product','month'], sort = False)

#### The table below shows the quantities and the total cost of raw materials required to produce the targeted sales of Product

In [15]:
grouped_product.agg({'quantity_raw': 'sum', 'cost_of_raw' : 'sum'})

                 quantity_raw  cost_of_raw
Product   month
Product 1 Jan          27.550     3131.250
          Feb          41.325     4696.875
          Mar          82.650     9393.750
          Apr          33.060     3757.500
          May          38.570     4383.750
          Jun         137.750    15656.250
          Jul          66.120     7515.000
          Aug          38.570     4383.750
          Sep          88.160    10020.000
          Oct          57.855     6575.625
          Nov          60.610     6888.750
          Dec          49.590     5636.250
Product 2 Jan          27.500    23705.000
          Feb          27.500    23705.000
          Mar          27.500    23705.000
          Apr          31.250    26937.500
          May          31.250    26937.500
          Jun          37.500    32325.000
          Jul          37.500    32325.000
          Aug          52.500    45255.000
          Sep          52.500    45255.000
          Oct          52.500    45255.000
          Nov          52.500    45255.000
          Dec          62.500    53875.000
Product 3 Jan          25.000    21550.000
          Feb          25.000    21550.000
          Mar          25.000    21550.000
          Apr          25.000    21550.000
          May          30.000    25860.000
          Jun          37.500    32325.000
          Jul          37.500    32325.000
          Aug          55.000    47410.000
          Sep          55.000    47410.000
          Oct          55.000    47410.000
          Nov          55.000    47410.000
          Dec          55.000    47410.000
Product 4 Jan          75.900     5190.000
          Feb          75.900     5190.000
          Mar          75.900     5190.000
          Apr         101.200     6920.000
          May         101.200     6920.000
          Jun         101.200     6920.000
          Jul         101.200     6920.000
          Aug         101.200     6920.000
          Sep         101.200     6920.000
          Oct         101.200     6920.000
          Nov         126.500     8650.000
          Dec         227.700    15570.000

#### The table below shows the aggregate cost of the product

In [16]:
df2.groupby('Product')['cost_of_raw'].sum()

Product
Product 1     82038.75
Product 2    424535.00
Product 3    413760.00
Product 4     88230.00
Name: cost_of_raw, dtype: float64

In [17]:
grouped_profit = df2.groupby(['Product','month'], sort = False)

#### The table below shows the total amount to be realised per month, and per product based on the budget along with the selling price of each product

In [18]:
grouped_profit.agg({'cost_of_raw' : 'sum', 'total_amount_realised': 'sum', 'selling_price_for_1_unit' : 'sum'})

                 cost_of_raw  total_amount_realised  selling_price_for_1_unit
Product   month
Product 1 Jan       3131.250              4070.6250                  407.0625
          Feb       4696.875              6105.9375                  407.0625
          Mar       9393.750             12211.8750                  407.0625
          Apr       3757.500              4884.7500                  407.0625
          May       4383.750              5698.8750                  407.0625
          Jun      15656.250             20353.1250                  407.0625
          Jul       7515.000              9769.5000                  407.0625
          Aug       4383.750              5698.8750                  407.0625
          Sep      10020.000             13026.0000                  407.0625
          Oct       6575.625              8548.3125                  407.0625
          Nov       6888.750              8955.3750                  407.0625
          Dec       5636.250              7327.1250                  407.0625
Product 2 Jan      23705.000             30816.5000                 1400.7500
          Feb      23705.000             30816.5000                 1400.7500
          Mar      23705.000             30816.5000                 1400.7500
          Apr      26937.500             35018.7500                 1400.7500
          May      26937.500             35018.7500                 1400.7500
          Jun      32325.000             42022.5000                 1400.7500
          Jul      32325.000             42022.5000                 1400.7500
          Aug      45255.000             58831.5000                 1400.7500
          Sep      45255.000             58831.5000                 1400.7500
          Oct      45255.000             58831.5000                 1400.7500
          Nov      45255.000             58831.5000                 1400.7500
          Dec      53875.000             70037.5000                 1400.7500
Product 3 Jan      21550.000             28015.0000                 2801.5000
          Feb      21550.000             28015.0000                 2801.5000
          Mar      21550.000             28015.0000                 2801.5000
          Apr      21550.000             28015.0000                 2801.5000
          May      25860.000             33618.0000                 2801.5000
          Jun      32325.000             42022.5000                 2801.5000
          Jul      32325.000             42022.5000                 2801.5000
          Aug      47410.000             61633.0000                 2801.5000
          Sep      47410.000             61633.0000                 2801.5000
          Oct      47410.000             61633.0000                 2801.5000
          Nov      47410.000             61633.0000                 2801.5000
          Dec      47410.000             61633.0000                 2801.5000
Product 4 Jan       5190.000              6747.0000                  449.8000
          Feb       5190.000              6747.0000                  449.8000
          Mar       5190.000              6747.0000                  449.8000
          Apr       6920.000              8996.0000                  449.8000
          May       6920.000              8996.0000                  449.8000
          Jun       6920.000              8996.0000                  449.8000
          Jul       6920.000              8996.0000                  449.8000
          Aug       6920.000              8996.0000                  449.8000
          Sep       6920.000              8996.0000                  449.8000
          Oct       6920.000              8996.0000                  449.8000
          Nov       8650.000             11245.0000                  449.8000
          Dec      15570.000             20241.0000                  449.8000